body {
    background-color: aliceblue;
}

#container {
    padding: 10px 40px 50px 80px;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    font-family: monospace, sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: rgb(87, 20, 20);
}

#myNote {
    border-radius: 0.4rem;
    border-color: rgb(93, 18, 18);
}

#notesContainer {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column-reverse; 
    align-items: flex-start; 
}

li {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 5px 0;
    width: 400px; 
}